@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}

.app {
  position: relative;
  width: 100%;
  scrollbar-width: none;
  height: 100vh;
  overflow: hidden;

  header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: start;
    padding-left: 200px;
    h2 {
      padding-top: 10px;
    }
  }
  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    ul.menu {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 200px;
      padding: 10px;
      gap: 10px;

      li {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 15px;
        width: 100%;
        padding: 10px 20px;
        padding-left: 8px;
        flex-grow: 1;
        img {
          width: 25px;
        }
        p {
          font-size: 15px;
          font-weight: 500;
        }
        &:hover,
        &.active {
          background-color: rgb(138, 5, 239);
          color: #ffffff;
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
        }
        &:hover img,
        &.active img {
          filter: invert(1);
          -webkit-filter: invert(1);
        }
      }
    }
  }
  main {
    position: absolute;
    left: 60px;
    width: 100%;
    height: 100%;
    border-left: 1px solid rgb(209, 209, 209);

    .home {
      background-color: #f1f1f1;
      width: 90%;
      height: 90%;
      display: flex;
      justify-content: center;
      align-items: start;
      .home-body {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img {
          width: 150px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }
        .my-info {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          ul{
            list-style: none;
            text-align: justify;
            padding: 10px;
            li{
              text-indent: 15px;
              padding:10px 5px;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 576px) {
    header {
      padding-left: 60px;
    }
    .sidebar {
      ul.menu {
        padding: 5px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        li {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px;

          img {
            width: 27px;
          }

          p {
            display: none;
          }
        }
      }
    }
  }
}
