@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}

.app {
  position: relative;
  width: 100%;
  scrollbar-width: none;
  height: 100vh;
  overflow: hidden;
}
.app header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: start;
  padding-left: 20px;
}
.app header h2 {
  padding-top: 10px;
}
.app main {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr 0.2fr;
  justify-content: center;
  align-content: start;
}
.app main .sidebar {
  z-index: 1;
  background-color: #ffffff;
  height: 100%;
}
.app main .sidebar ul.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  padding: 10px;
  gap: 10px;
}
.app main .sidebar ul.menu li {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
  width: 100%;
  padding: 10px 20px;
  padding-left: 8px;
  flex-grow: 1;
}
.app main .sidebar ul.menu li img {
  width: 25px;
}
.app main .sidebar ul.menu li p {
  font-size: 15px;
  font-weight: 500;
}
.app main .sidebar ul.menu li:hover, .app main .sidebar ul.menu li.active {
  background-color: rgb(138, 5, 239);
  color: #ffffff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.app main .sidebar ul.menu li:hover img, .app main .sidebar ul.menu li.active img {
  filter: invert(1);
  -webkit-filter: invert(1);
}
.app main section .staffs-container {
  width: 100%;
  height: 50%;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.app main section .staffs-container .card {
  gap: 10px;
  width: 180px;
  padding: 10px;
  border: 1px solid rgb(240, 240, 240);
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.app main section .staffs-container .card img {
  width: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.app main section .staffs-container .staff-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.app main section .staffs-container button {
  width: 100%;
  border: none;
  text-transform: uppercase;
  background-color: #e3e3e3;
  height: 30px;
}
.app main section .staffs-container button:hover {
  background-color: rgb(138, 5, 239);
  color: #ffffff;
}
.app main .right-sidebar {
  height: 100%;
}
.app main .right-sidebar .tab_bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 150px;
  padding: 10px;
  gap: 10px;
}
.app main .right-sidebar .tab_bar div {
  display: flex;
  justify-content: start;
  align-items: center;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
  width: 100%;
  padding: 10px 20px;
  padding-left: 8px;
  flex-grow: 1;
}
.app main .right-sidebar .tab_bar div img {
  width: 25px;
}
.app main .right-sidebar .tab_bar div p {
  font-size: 15px;
  font-weight: 500;
}
.app main .right-sidebar .tab_bar div:hover, .app main .right-sidebar .tab_bar div.active {
  background-color: rgb(138, 5, 239);
  color: #ffffff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.app main .right-sidebar .tab_bar div:hover img, .app main .right-sidebar .tab_bar div.active img {
  filter: invert(1);
  -webkit-filter: invert(1);
}/*# sourceMappingURL=style.css.map */